<div class="jumbotron">
      <div class="container">
        
        <p class="text-danger"><h1>DEADPOOL</h1><br></p>
        <h3>Deadpool, Tim Miller'ın yönetmenliğini yaptığı, 2016 Amerikan yapımı aksiyon-komedi türündeki süper kahraman filmidir. Ünlü Marvel çizgi roman karakteri Deadpool'dan uyarlanmıştır.</h3>
    <br> <br>   <br>   <br> <%= link_to 'Üye Ol', new_user_registration_path, :class=>"btn btn-warning btn-lg" %>
      </div>
    </div>