<div class="jumbotron">
  <h1 class="display-3">
    <p class=text-center>DEADPOOL</p></h1>
  <br><h4>Deadpool, Tim Miller'ın yönetmenliğini yaptığı, 2016 Amerikan yapımı aksiyon-komedi türündeki süper kahraman filmidir. Ünlü Marvel çizgi roman karakteri Deadpool'dan uyarlanmıştır.</h4>
  
</div>